<section class="about">
  <div class="container">
    <div class="about__head">
      <h2 class="title--section about__title">О компании</h2>
      <p class="about__desc">
        Мы — международный торговый дом, который предоставляет услуги
        по организации глобальных сделок, финансовых расчетов и платежных
        операций для бизнеса на международных рынках.
      </p>
    </div>
    <div class="about__wrapper">
      <div class="about__image">
        <img src="../img/about-img.webp" alt="О компании" />
      </div>
      <div class="about__content">
        <div class="subtitle">Наши ключевые направления:</div>
        <div class="about__services">
          <div class="about__service">
            <div class="number">1</div>
            <div class="title">торговые сделки:</div>
            <div class="text">
              Помогаем заключать и сопровождать сделки на международных рынках
            </div>
          </div>

          <div class="about__service">
            <div class="number">2</div>
            <div class="title">Платежный агент:</div>
            <div class="text">
              Обеспечиваем финансовые расчеты и переводы для компаний по всему
              миру
            </div>
          </div>

          <div class="about__service">
            <div class="number">3</div>
            <div class="title">Логистические услуги:</div>
            <div class="text">
              Предлагаем решения по транспортировке и складированию товаров
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
