<section class="company">
  <div class="container">
    <h2 class="company__name">commerce global</h2>

    <div class="company__info">
      <h3 class="title--section subtitle">
        Ваш надежный партнер в сфере глобальной торговли и платежей
      </h3>
      <p class="desc">
        Мы предлагаем комплексные решения для международных сделок и финансовых
        операций, позволяя вашему бизнесу работать эффективно даже в условиях
        сложных рыночных условий
      </p>
    </div>
  </div>
</section>
