<section class="country">
  <div class="container">
    <h2 class="title--section country__title">Доступные направления</h2>
    <h3 class="country__subtitle">
      Мы работаем более чем с 200 странами, включая:
    </h3>

    <div class="country__block">
      <div class="item china">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item vetnam">
        <div class="icon">
          <img src="../img/country/vetnam.webp" alt="" />
        </div>
        <div class="text">Вьетнам</div>
      </div>
      <div class="item turkey">
        <div class="icon">
          <img src="../img/country/turkey.webp" alt="" />
        </div>
        <div class="text">Турция</div>
      </div>
      <div class="item belarus">
        <div class="icon">
          <img src="../img/country/belarus.webp" alt="" />
        </div>
        <div class="text">Беларусь</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/georgia.webp" alt="" />
        </div>
        <div class="text">Греция</div>
      </div>
      <div class="item india">
        <div class="icon">
          <img src="../img/country/india.webp" alt="" />
        </div>
        <div class="text">Индия</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/kirgiztan.webp" alt="" />
        </div>
        <div class="text">Кыргызстан</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/serbia.webp" alt="" />
        </div>
        <div class="text">Сербия</div>
      </div>
      <div class="item spanish">
        <div class="icon">
          <img src="../img/country/spanish.png" alt="" />
        </div>
        <div class="text">Испания</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/moldova.webp" alt="" />
        </div>
        <div class="text">Молдова</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/usa.webp" alt="" />
        </div>
        <div class="text">США</div>
      </div>
      <div class="item armenia">
        <div class="icon">
          <img src="../img/country/armenia.webp" alt="" />
        </div>
        <div class="text">Армения</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/tajik.webp" alt="" />
        </div>
        <div class="text">Таджикистан</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/italy.webp" alt="" />
        </div>
        <div class="text">Италия</div>
      </div>
      <div class="item erpa">
        <div class="icon">
          <img src="../img/country/erpa.webp" alt="" />
        </div>
        <div class="text">Европа</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/uzbek.webp" alt="" />
        </div>
        <div class="text">Узбекистан</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/kipr.webp" alt="" />
        </div>
        <div class="text">Кипр</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/kanada.webp" alt="" />
        </div>
        <div class="text">Канада</div>
      </div>
    </div>
  </div>
</section>
