<section class="country">
  <div class="container">
    <h2 class="title--section country__title">Доступные направления</h2>
    <h3 class="country__subtitle">
      Мы работаем более чем с 200 странами, включая:
    </h3>

    <div class="country__block">
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="../img/country/china.webp" alt="" />
        </div>
        <div class="text">Китай</div>
      </div>
    </div>
  </div>
</section>
