<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo" href="">
        <img
          src="../img/logo.png"
          alt="Commerce Global"
          width="135"
          height="36"
        />
      </a>

      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="">О компании</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Наши услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Как это работает</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Преимущества</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Проконсультироваться</a>
          </li>
        </ul>
      </nav>

      <a class="phone" href="tel:80000000000">8 000 000-00-00</a>
    </div>
  </div>
</header>
