// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Manrope", sans-serif;
  --content-width: 1440px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #000;
  --dark: #272727;
  --accent: #0b59a1;
  --light: #f7f9ff;
  --orange: #fb7c11;
  --transition: 0.2s ease-in;
  --fontSize-16: clamp(14px, 1vw, 16px);
}
